@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.modal-overlay {
  font-family: "Play", sans-serif;
  background: #006CA5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
}

.modal-overlay:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85); 
  z-index: -1; 
}

.modal-content {
  background: linear-gradient(14deg,
      rgba(2, 0, 36, 0.8) 20%,
      rgba(24, 24, 65, 0.7) 50%,
      rgb(20, 76, 99) 100%),
    radial-gradient(circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(32, 15, 53, 1) 65%,
      rgba(14, 29, 28, 0.9) 100%);
  padding: 30px;
  border-radius: 2em;
  border: solid 0.3em rgba(0, 108, 165);
  width: 550px;
  height: 400px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 108, 165, 0.5), 0 0 10px rgba(0, 108, 165, 0.5), 0 0 20px rgba(0, 108, 165, 0.5), 0 0 40px rgba(0, 108, 165, 0.5);
  position: fixed;
  cursor: default;
}

.exit-button-level {
  position: relative;
  padding: 5px;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 5px #1475ec73;
  background-color: rgba(0, 108, 165);
  color: #ffcc53;
  font-size: 60px;
  right: -255px;
  top: -50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; 
  height: 60px;
  cursor: pointer;
}

.exit-button-level:active {
  border-radius: 100%;
  box-shadow: inset 0px 0px 10px 0px #ffcc53;
}

.modal-body {
  margin-top: -90px;
}

.modal-body h1 {
  font-family: "Leckerli One", cursive;
  margin: 50px 0 110px 0;
  font-size: 3rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #4090b5;
  text-shadow: 1.5px 1.5px 1px #ffcc53;
}

.stars {
  margin-top: -75px;
  font-size: 60px;
}

.modal-body p {
  margin: 30px 0 30px 0;
  color: #fff;
  line-height: 1.4rem;
  margin-bottom: 20px;
}

.play-button {
  font-family: "Leckerli One", cursive;
  background-color: #0780b8;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffcc53;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 50px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: 1.5px 1.5px 1px rgb(7, 7, 120);
  position: relative;
  box-shadow: 0 3px 1px rgb(4, 87, 136);
}

.play-button:active {
  padding-bottom: 10px;
  box-shadow: 0 3px 1px rgb(4, 87, 136); 
}

.play-button::before,
.play-button::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 15px;
  background-color: #a3d1e7;
  border-radius: 50% 50% 50% 50%;
  top: 10px;
  transition: all 0.3s ease;
}

.play-button::before {
  left: 14px;
  top: 8px;
  transform: rotate(45deg);
}

.play-button::after {
  width: 8px;
  height: 8px;
  left: 10px;
  top: 25px;
  transform: rotate(45deg);
}

.play-button:hover::before,
.play-button:hover::after {
  transform: translateY(5px) rotate(0deg);
}

.play-button:active::before,
.play-button:active::after {
  transform: translateY(10px) scale(0.9);
}

.stars{
  margin-top: -65px;
  margin-bottom: 40px;
}

.star {
  font-size: 60px;
  margin: 0 7px;
}

.yellow {
  color: #ffc745;
}

.grey {
  color: grey; 
}

.skip-button {
  font-family: "Leckerli One", cursive;
  background-color: #fdb716;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 50px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: 1.5px 1.5px 1px rgb(7, 7, 120);
  position: relative;
  box-shadow: 0 3px 1px #704f01;
}

.skip-button:active {
  padding-bottom: 10px;
  box-shadow: 0 3px 1px #704f01; 
}

.skip-button::before,
.skip-button::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 15px;
  background-color: #a3d1e7;
  border-radius: 50% 50% 50% 50%;
  top: 10px;
  transition: all 0.3s ease;
}

.skip-button::before {
  left: 14px;
  top: 8px;
  transform: rotate(45deg);
}

.skip-button::after {
  width: 8px;
  height: 8px;
  left: 10px;
  top: 25px;
  transform: rotate(45deg);
}

.skip-button:hover::before,
.skip-button:hover::after {
  transform: translateY(5px) rotate(0deg);
}

.skip-button:active::before,
.skip-button:active::after {
  transform: translateY(10px) scale(0.9);
}

.bonus-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}

.bonus-image img {
  width: 140px;
}
