.quit-title h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    margin-top: 30px;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #4090b5;
    text-shadow: 1.5px 1.5px 1px #ffcc53;
}

.return-quit-button {
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px #1475ec73;
    background-color: rgba(0, 108, 165);
    color: #ffcc53;
    font-size: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    left: -95px;
    top: -65px;
}

.return-quit-button:active {
    border-radius: 100%;
    box-shadow: inset 0px 0px 10px 0px #ffcc53;
}

.quit-title h5 {
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Play', sans-serif;
}

.quit-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.quit-image img {
    width: 150px;
}

.quit-button {
    font-family: "Leckerli One", cursive;
    background-color: #c30010;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 70px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 1.5px 1.5px 1px rgb(7, 7, 120);
    position: relative;
    box-shadow: 0 3px 1px #590101;
    margin-top: 20px;
}

.quit-button:active {
    padding-bottom: 10px;
    box-shadow: 0 3px 1px #590101;
}

.quit-button::before,
.quit-button::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 15px;
    background-color: #fff;
    border-radius: 50% 50% 50% 50%;
    top: 10px;
    transition: all 0.3s ease;
}

.quit-button::before {
    left: 14px;
    top: 8px;
    transform: rotate(45deg);
}

.quit-button::after {
    width: 8px;
    height: 8px;
    left: 10px;
    top: 25px;
    transform: rotate(45deg);
}

.quit-button:hover::before,
.quit-button:hover::after {
    transform: translateY(5px) rotate(0deg);
}

.quit-button:active::before,
.quit-button:active::after {
    transform: translateY(10px) scale(0.9);
}