@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.settings-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: #fff;
}

.settings-modal:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.settings-content {
    background: linear-gradient(14deg,
            rgba(2, 0, 36, 0.8) 20%,
            rgba(24, 24, 65, 0.7) 50%,
            rgb(20, 76, 99) 100%),
        radial-gradient(circle,
            rgba(2, 0, 36, 1) 0%,
            rgba(32, 15, 53, 1) 65%,
            rgba(14, 29, 28, 0.9) 100%);
    padding: 30px;
    border-radius: 8px;
    width: 480px;
    height: 615px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 108, 165, 0.5), 0 0 10px rgba(0, 108, 165, 0.5), 0 0 20px rgba(0, 108, 165, 0.5), 0 0 40px rgba(0, 108, 165, 0.5);
    position: relative;
    cursor: default;
    border: 1px solid rgba(0, 108, 165);
}

.exit-button {
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px #1475ec73;
    background-color: rgba(0, 108, 165);
    color: #ffcc53;
    font-size: 50px;
    left: 435px;
    top: -20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px;
    cursor: pointer;
    position: absolute;
}

.exit-button:active {
    border-radius: 100%;
    box-shadow: inset 0px 0px 10px 0px #ffcc53;
}

.return-button {
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px #1475ec73;
    background-color: rgba(0, 108, 165);
    color: #ffcc53;
    font-size: 25px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    left: -15px;
    top: -20px;
}

.return-button:active {
    border-radius: 100%;
    box-shadow: inset 0px 0px 10px 0px #ffcc53;
}

.settings-body-profile {
    margin-top: 60px;
    font-weight: bold;
    font-size: 1.29em;
    display: grid;
    gap: 2.5em;
    place-content: center;
    width: 400px;
}

.form-title-profile {
    font-size: 1.3rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #4090b5;
    text-shadow: 1.5px 1.5px 1px #ffcc53;
    margin-bottom: 5px;
}

.settings-container-profile {
    font-weight: bold;
    font-size: 1.1em;
    display: grid;
    gap: 1.5em;
    place-content: center;
    width: 400px;
    margin-top: 10px;
}


