.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Play", sans-serif;
    height: 100vh;
    position: relative;
    background-image: url('../../../../assets/Pictures/back.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.reset-password-content {
    background: #006CA5;
    padding: 30px;
    border-radius: 8px;
    width: 850px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 108, 165, 0.5), 0 0 10px rgba(0, 108, 165, 0.5), 0 0 20px rgba(0, 108, 165, 0.5), 0 0 40px rgba(0, 108, 165, 0.5);
    position: relative;
}

.reset-password-content h2 {
    margin-top: 20px;
    font-size: 2.3rem;
    color: #fff;
}

.password-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px 0;
}

.password-image img {
    width: 360px;
}

.password-input {
    font-family: "Play", sans-serif;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 350px;   
}

.password-input label.text {
    font-size: 1.1rem;
    color: #03245c;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #006CA5;
    width: fit-content;
}

.password-input input[type="password"].input {
    padding: 12px 10px;
    font-size: 1.1rem;
    border: 2px #03245c solid;
    border-radius: 5px;
    background: #e8e8e8;
    margin-bottom: 10px;
}

.password-input input[type="text"].input:focus {
    outline: none;
    color: #03245c;
}

