.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Play", sans-serif;
    height: 100vh;
    position: relative;
    background-image: url('../../../../assets/Pictures/back.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.reset-password-content {
    background: #006CA5;
    padding: 30px;
    border-radius: 8px;
    width: 850px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 108, 165, 0.5), 0 0 10px rgba(0, 108, 165, 0.5), 0 0 20px rgba(0, 108, 165, 0.5), 0 0 40px rgba(0, 108, 165, 0.5);
    position: relative;
}

.reset-password-content h2 {
    margin-top: 25px;
    font-size: 2.3rem;
    color: #fff;
}

.password-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px 0;
}

.password-image img {
    width: 360px;
}

.password-input {
    font-family: "Play", sans-serif;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 400px;
    margin-top: 40px;
}

.input {
    font-family: "Play", sans-serif;
    height: 50px;
    border-radius: 8px;
    border: 2px solid #0f3467;
    outline: none;
    transition: 200ms ease-in;
    padding-left: 1rem;
    margin-bottom: 25px;
    font-size: 17px;
}

.input:focus {
    border-bottom: 4px solid #0f3467;
    padding-top: 2px;
}

.input::placeholder {
    color: #0f3467;
    opacity: 0.9;
    font-size: 16px;
    font-weight: bold;
}

.error-message {
    color: rgb(170, 13, 13);
    font-size: 17px;
    margin: 2px 0;
    font-weight: bold;
}
