.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url('../../../../assets/Pictures/back.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.reset-password-content {
    background: linear-gradient(14deg,
            rgba(2, 0, 36, 0.8) 20%,
            rgba(24, 24, 65, 0.7) 50%,
            rgb(20, 76, 99) 100%),
        radial-gradient(circle,
            rgba(2, 0, 36, 1) 0%,
            rgba(32, 15, 53, 1) 65%,
            rgba(14, 29, 28, 0.9) 100%);
    padding: 30px;
    border-radius: 8px;
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 108, 165, 0.5), 0 0 10px rgba(0, 108, 165, 0.5), 0 0 20px rgba(0, 108, 165, 0.5), 0 0 40px rgba(0, 108, 165, 0.5);
    position: relative;
    cursor: default;
    border-radius: 2em;
    border: solid 0.3em rgba(0, 108, 165);
}

.reset-password-content h2 {
    font-family: "Leckerli One", cursive;
    font-size: 2.3rem;
    line-height: 3rem;
    font-weight: 600;
    text-align: center;
    color: #4090b5;
    text-shadow: 1.5px 1.5px 1px #ffcc53;
    margin-top: 30px;
}

.password-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -60px 0;
}

.password-image img {
    width: 360px;
}

.password-input {
    font-family: "Play", sans-serif;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 400px;
    margin-top: 40px;
}

.input {
    font-family: "Play", sans-serif;
    height: 50px;
    border-radius: 8px;
    border: 2px solid #0f3467;
    outline: none;
    transition: 200ms ease-in;
    padding-left: 1rem;
    margin-bottom: 40px;
    font-size: 17px;
}

.input:focus {
    border-bottom: 4px solid #0f3467;
    padding-top: 2px;
}

.input::placeholder {
    color: #0f3467;
    opacity: 0.9;
    font-size: 16px;
    font-weight: bold;
}

.error-message {
    color: rgb(170, 13, 13);
    font-size: 17px;
    margin: 2px 0;
    font-weight: bold;
}

.reset-password-button {
    font-family: "Leckerli One", cursive;
    background-color: #0780b8;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffcc53;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 300px;
    text-shadow: 1.5px 1.5px 1px rgb(7, 7, 120);
    position: relative;
    box-shadow: 0 3px 1px rgb(4, 87, 136);
    margin-top: -5px;
}

.reset-password-button:active {
    padding-bottom: 10px;
    box-shadow: 0 3px 1px rgb(4, 87, 136);
}

.reset-password-button::before,
.reset-password-button::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 15px;
    background-color: #a3d1e7;
    border-radius: 50% 50% 50% 50%;
    top: 10px;
    transition: all 0.3s ease;
}

.reset-password-button::before {
    left: 14px;
    top: 8px;
    transform: rotate(45deg);
}

.reset-password-button::after {
    width: 8px;
    height: 8px;
    left: 10px;
    top: 25px;
    transform: rotate(45deg);
}

.reset-password-button:hover::before,
.reset-password-button:hover::after {
    transform: translateY(5px) rotate(0deg);
}

.reset-password-button:active::before,
.reset-password-button:active::after {
    transform: translateY(10px) scale(0.9);
}

.password-strength-label-reset {
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
}