.activate-account-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.activate-account-content {
    background: #006CA5;
    padding: 30px;
    border-radius: 8px;
    width: 550px;
    height: 420px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 108, 165, 0.5), 0 0 10px rgba(0, 108, 165, 0.5), 0 0 20px rgba(0, 108, 165, 0.5), 0 0 40px rgba(0, 108, 165, 0.5);
    position: relative;

}

.activate-account-content h2 {
    margin-top: 40px;
    font-size: 1.9rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.activate-account-content p {
    font-size: 1em;
    color: #fff;
    line-height: 1.5;
    margin-top: 30px;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
}

.exit-button-activate {
    position: absolute;
    top: -20px;
    right: -2px;
    background: none;
    border: none;
    font-size: 80px;
    cursor: pointer;
    color: #fff;
}

.exit-button-activate:hover {
    color: #0a2b58;
}

.input-password {
    width: 350px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    transition: border-bottom-color 0.3s;
}

.icon-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #fff;
    cursor: pointer;
}

.input-password::placeholder {
    font-family: "Play", sans-serif;
    color: #D3D3D3;
    font-size: 1.1rem;
}

.button-password {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #fff;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    margin-top: 2.5rem;
}

.button-password span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 3.5px solid #fff;
}

.button-password span::before {
    content: "";
    display: block;
    position: absolute;
    width: 6%;
    height: 500%;
    background: #006CA5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

.button-password:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #fff;
}

.button-password:hover {
    color: #006CA5;
}

.button-password:active span::before {
    background: #fff;
}

.scale__btn-animation {
    animation: scale-animation 0.6s;
}

@keyframes scale-animation {
    0% {
        width: 10rem;
    }

    50% {
        width: 20rem;
    }

    100% {
        width: 10rem;
    }
}



.input-fields {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 45px;
}

.input-fields input {
    height: 2.5em;
    width: 2.5em;
    outline: none;
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
}

.input-fields input:focus {
    border: 1px solid rgb(3, 3, 81);
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, .15);
    transform: scale(1.05);
    transition: 0.5s;
}