.settings-title h1 {
    color: #fff; 
    font-size: 30px; 
    margin-bottom: 65px;
    align-items: center;
    margin-top: 15px;
}

.coolinput {
    font-family: "Play", sans-serif;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 350px;   
}

.coolinput label.text {
    font-size: 1.1rem;
    color: #03245c;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #006CA5;
    width: fit-content;
}

.coolinput input[type="password"].input {
    padding: 12px 10px;
    font-size: 1.1rem;
    border: 2px #03245c solid;
    border-radius: 5px;
    background: #e8e8e8;
    margin-bottom: 27px;
}

.coolinput input[type="text"].input:focus {
    outline: none;
    color: #03245c;
}

.save-button {
    border: none;
    outline: none;
    background-color: #0a2b58;
    padding: 13px 35px;
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 5px 0px skyblue;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 40px;
}

.save-button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px skyblue;
}

.Icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #006CA5;
    cursor: pointer;
}

.Input:focus~.Icon {
    color: #51AFF7;
}