.change-password-title h1 {
    color: #fff;
    font-size: 38px;
    margin-bottom: 35px;
    margin-top: -15px;
    align-items: center;
    margin-top: 15px;
    font-style: italic;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.change-password-input {
    font-family: "Play", sans-serif;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 400px;
    margin-bottom: 50px;
    gap: 5px;
}

.input {
    font-family: "Play", sans-serif;
    height: 50px;
    border-radius: 8px;
    border: 2px solid #0f3467;
    outline: none;
    transition: 200ms ease-in;
    padding-left: 3rem;
    margin-top: 10px;
    font-size: 17px;
    width: 100%;
    padding-right: 80px;
}

.input:focus {
    border-bottom: 4px solid #0f3467;
    padding-top: 2px;
}

.save-button {
    position: absolute;
    bottom: 40px;
    right: 153px;
    border: none;
    outline: none;
    background-color: #0a2b58;
    padding: 13px 35px;
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 1px 3px 1px 1px skyblue;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 10;
}

.save-button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px skyblue;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 35px;
    transform: translateY(-50%);
    color: #006CA5;
    cursor: pointer;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.error-pwd-message {
    color: rgb(170, 13, 13);
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    top: 50px;
}