@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.Map-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Play", sans-serif;
    height: 100vh;
    position: relative;
    background-image: url('../../assets/Pictures/back.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.glass-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 530px;
    background: rgba(4, 4, 4, 0.2);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(2, 139, 212, 0.5), 0 0 10px rgba(2, 139, 212, 0.5), 0 0 20px rgba(2, 139, 212, 0.5), 0 0 40px rgba(2, 139, 212, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 108, 165, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    overflow-y: auto;
    margin-top: 40px;
    overflow-x: hidden;
}

.glass-box h2 {
    font-family: "Dancing Script", cursive;
    margin-top: 10px;
    font-size: 90px;
    text-shadow: 3px 3px 2px rgba(255, 204, 83, 0.7);
}

.levels-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 40%;
    transition: transform 0.27s ease-in-out;
}

.levels-grid.left {
    transform: translateX(-180%);
}

.levels-grid.right {
    transform: translateX(180%);
}

.level-button {
    font-family: "Leckerli One", cursive;
    position: relative;
    appearance: button;
    background: rgb(25, 68, 117);
    border: solid transparent;
    border-radius: 16px;
    border-width: 7px 7px 7px;
    box-sizing: border-box;
    color: #ffcc53;
    cursor: pointer;
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    text-shadow: #3e3e3e;
    margin: 0;
    outline: none;
    overflow: visible;
    height: 80px;
    width: 80px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s, transform .3s ease;
    user-select: none;
    vertical-align: middle;
}

.level-button:after {
    background-clip: padding-box;
    background-color: rgba(2, 139, 212, 0.8);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0px 0px 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    box-shadow: inset 0 1px 6px rgba(255, 255, 255, 0.5),
                inset 0px 0px 5px rgba(0, 0, 0, 0.8);             
}

.level-button::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(to top left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 60%);
    z-index: 0;
    pointer-events: none;
    opacity: 1;
    transform: rotate(-180deg);
}

/* Gouttes blanches */
.level-button .drop1, .level-button .drop2 {
    content: "";
    position: absolute;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%;
    z-index: 2;
}

/* Goutte 1 */
.level-button .drop1 {
    top: 5px;
    left: 10px;
    width: 15px;
    height: 12px;
}

/* Goutte 2 */
.level-button .drop2 {
    top: 18px;
    left: 5px;
    width: 8px;
    height: 6px;
}

.level-button:main,
.level-button:focus {
    user-select: auto;
}

.level-button:hover:not(:disabled) {
    filter: brightness(1.1);
}

.level-button:disabled {
    cursor: auto;
}

.level-button.locked {
    background-color: #5d5c5c;
    color: #5c5959;
    cursor: not-allowed;
    pointer-events: none;
    position: relative;
}

.level-button.locked:after {
    background-color: #3e3e3e;
}

.level-button:hover:not(.locked) {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.lock-icon {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.button-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button-3d {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border-width: 0;
    padding: 0 8px;
    min-width: 4em;
    min-height: 4em;
    box-sizing: border-box;
    background: transparent;
    font: inherit;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
}

.button-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    padding: 8px 16px;
    transform: translateY(0);
    color: #fff;
    background-image: linear-gradient(145deg, #4635c7, #1CB0F6);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: transform 0.3s, border-radius 0.3s, background 10s;
}

.button-3d:active .button-top {
    border-radius: 10px 10px 8px 8px / 8px;
    transform: translateY(2px);
    background-image: linear-gradient(145deg, #1CB0F6, #4635c7);
}

.button-bottom {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    left: 4px;
    border-radius: 20px;
    padding-top: 6px;
    width: calc(100% - 8px);
    height: calc(100% - 10px);
    background-image: linear-gradient(145deg, #1CB0F6, #4635c7);
    box-shadow: 0px 1px 1px 0px white;
    transition: border-radius 0.2s, padding-top 0.2s;
}

.button-3d:active .button-bottom {
    border-radius: 10px 10px 8px 8px / 8px;
    padding-top: 0;
}

.button-3d:active .button-base {
    border-radius: 10px 10px 8px 8px / 8px;
}






