.quiz-container {
    font-family: "Play", sans-serif;
    height: 100vh;
    position: relative;
    background-image: url('../../../assets/fond_game.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    background-attachment: fixed;
    background-position: top left;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.quiz-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container {
    background-color: transparent;
    position: absolute;
    top: 35%;
    left: 20%;
}

.question-text {
    color: white;
    font-size: 27px;
    margin-bottom: 35px;
}


.answer-list {
    list-style-type: none;
    padding: 0;
}

.answer-text {
    color: white;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 50px;
    align-items: center;
    white-space: nowrap;
}

.answer-text input {
    margin-right: 25px;
}

.answer-text:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.button-quiz {
    position: relative;
    padding: 10px 30px;
    border-radius: 7px;
    border: 1px solid #51AFF7;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.button-quiz:hover {
    background: #51AFF7;
    box-shadow: 0 0 30px 5px #51AFF7;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.button-quiz:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.button-quiz::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.button-quiz:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


.label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.label-container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    margin-bottom: 20px;
}

.label-container.correct .answer-text {
    color: rgb(10, 236, 10);
}

.label-container.incorrect .answer-text {
    color: red;
}

.checkmark {
    --clr: #51AFF7;
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 50%;
    transition: 300ms;
    margin-left: 15px;
}

.label-container input:checked~.checkmark {
    background-color: var(--clr);
    border-radius: .5rem;
    animation: pulse 500ms ease-in-out;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label-container input:checked~.checkmark:after {
    display: block;
}

.label-container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #E0E0E2;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 #0B6E4F90;
        rotate: 20deg;
    }

    50% {
        rotate: -20deg;
    }

    75% {
        box-shadow: 0 0 0 10px #0B6E4F60;
    }

    100% {
        box-shadow: 0 0 0 13px #0B6E4F30;
        rotate: 0;
    }
}

.timer {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
  }