.settings-modal {
  font-family: "Leckerli One", cursive;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: #fff;
}

.settings-modal:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.settings-content {
  background: linear-gradient(14deg,
      rgba(2, 0, 36, 0.8) 20%,
      rgba(24, 24, 65, 0.7) 50%,
      rgb(20, 76, 99) 100%),
    radial-gradient(circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(32, 15, 53, 1) 65%,
      rgba(14, 29, 28, 0.9) 100%);
  padding: 30px;
  border-radius: 8px;
  width: 480px;
  height: 615px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 108, 165, 0.5), 0 0 10px rgba(0, 108, 165, 0.5), 0 0 20px rgba(0, 108, 165, 0.5), 0 0 40px rgba(0, 108, 165, 0.5);
  position: relative;
  cursor: default;
  border-radius: 2em;
  border: solid 0.3em rgba(0, 108, 165);
}

.exit-button {
  padding: 5px;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 5px #1475ec73;
  background-color: rgba(0, 108, 165);
  color: #ffcc53;
  font-size: 40px;
  right: -50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.exit-button:active {
  border-radius: 100%;
  box-shadow: inset 0px 0px 10px 0px #ffcc53;
}

.settings-body {
  margin-top: 60px;
  font-weight: bold;
  font-size: 1.29em;
  display: grid;
  gap: 3em;
  place-content: center;
  width: 400px;
}

.form-title {
  font-size: 1.4rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #4090b5;
  text-shadow: 1.5px 1.5px 1px #ffcc53;
}

.settings-container {
  font-weight: bold;
  font-size: 1.2em;
  display: grid;
  gap: 1.2em;
  place-content: center;
  width: 400px;
  margin-top: 10px;
}

.settings-container input[type=radio] {
  display: none;
}

.settings-modal .neon-btn .txt {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #ffcc53, 1px 1px 1px #4090b5, 0 0 1px rgba(255, 255, 255, 0.616);
}

.settings-buttons {
  font-family: "Leckerli One", cursive;
  background-color: #0780b8;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffcc53;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 300px;
  text-shadow: 1.5px 1.5px 1px rgb(7, 7, 120);
  position: relative;
  box-shadow: 0 3px 1px rgb(4, 87, 136);
}

.settings-buttons:active {
  padding-bottom: 10px;
  box-shadow: 0 3px 1px rgb(4, 87, 136); 
}

.settings-buttons::before,
.settings-buttons::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 15px;
  background-color: #a3d1e7;
  border-radius: 50% 50% 50% 50%;
  top: 10px;
  transition: all 0.3s ease;
}

.settings-buttons::before {
  left: 14px;
  top: 8px;
  transform: rotate(45deg);
}

.settings-buttons::after {
  width: 8px;
  height: 8px;
  left: 10px;
  top: 25px;
  transform: rotate(45deg);
}

.settings-buttons:hover::before,
.settings-buttons:hover::after {
  transform: translateY(5px) rotate(0deg);
}

.settings-buttons:active::before,
.settings-buttons:active::after {
  transform: translateY(10px) scale(0.9);
}