@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.Play-Container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  font-family: "Play", sans-serif;
  height: 100vh;
  position: relative;
  background-image: url('../../assets/Pictures/back.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  justify-content: center;
  cursor: pointer;
}

.play-image {
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-image img {
  width: 600px;
  height: 350px;
  animation: blurZoom 1.5s forwards;
  image-rendering: crisp-edges; 
  image-rendering: -webkit-optimize-contrast;
  image-rendering:optimizeQuality;
}

@keyframes blurZoom {
  0% {
    transform: scale(0.8);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

.loader {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffcc53;
  font-size: 1.5rem;
  z-index: 1000;
}

.scanner span {
  color: transparent;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
}

.scanner span::before {
  content: "Chargement...";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid #ffcc53;
  overflow: hidden;
  color: #ffcc53;
  animation: load91371 2.5s linear infinite;
  justify-content: center;
  align-items: center;
  margin: 0; 
}

@keyframes load91371 {
  0%, 10%, 100% {
    width: 0%;
  }

  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    border-right-color: transparent;
  }

  11%, 21%, 31%, 41%, 51%, 61%, 71%, 81%, 91% {
    border-right-color: #ffcc53;
  }

  60%, 80% {
    width: 100%;
  }
}
