.password-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.password-content {
    background: linear-gradient(14deg,
            rgba(2, 0, 36, 0.8) 20%,
            rgba(24, 24, 65, 0.7) 50%,
            rgb(20, 76, 99) 100%),
        radial-gradient(circle,
            rgba(2, 0, 36, 1) 0%,
            rgba(32, 15, 53, 1) 65%,
            rgba(14, 29, 28, 0.9) 100%);
    padding: 30px;
    border-radius: 8px;
    width: 500px;
    height: 300px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 108, 165, 0.5), 0 0 10px rgba(0, 108, 165, 0.5), 0 0 20px rgba(0, 108, 165, 0.5), 0 0 40px rgba(0, 108, 165, 0.5);
    position: relative;
    cursor: default;
    border: 1px solid rgba(0, 108, 165);
}

.password-content h2 {
    margin-top: 40px;
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
    color: #4090b5;
    text-shadow: 1.5px 1.5px 1px #ffcc53;
}

.exit-button-password {
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px #1475ec73;
    background-color: rgba(0, 108, 165);
    color: #ffcc53;
    font-size: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.exit-button-password:active {
    border-radius: 100%;
    box-shadow: inset 0px 0px 10px 0px #ffcc53;
}

.input-password {
    width: 350px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    transition: border-bottom-color 0.3s;
}

.icon-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #fff;
    cursor: pointer;
}

.input-password::placeholder {
    font-family: "Play", sans-serif;
    color: #D3D3D3;
    font-size: 1.1rem;
}

.button-password {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #fff;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    margin-top: 2.5rem;
}

.button-password span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 3.5px solid #fff;
}

.button-password span::before {
    content: "";
    display: block;
    position: absolute;
    width: 6%;
    height: 500%;
    background: rgb(3, 11, 41);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

.button-password:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #fff;
}

.button-password:hover {
    color: #006CA5;
}

.button-password:active span::before {
    background: #fff;
}

.scale__btn-animation {
    animation: scale-animation 0.6s;
}

@keyframes scale-animation {
    0% {
        width: 10rem;
    }

    50% {
        width: 20rem;
    }

    100% {
        width: 10rem;
    }
}